@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca:wght@300;400;500;600;700;900&display=swap');

:root {
  --dark: #031D26;
  --light: #fff;
  --darkBackground: #283142;
  --backgroundMain: #1b2531;
  --appBackground: #f5f5f5;
  --fadeColor: rgba(114, 132, 154, .7);
}
*{
  font-family: "Lexend Deca", sans-serif ;
}
.content {
  transition: all 0.5s;
  padding: 25px;
  position: relative;
  background-color: #fafafb;
}

.inner {
  margin-top: 70px;
}

.inside {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 130px);
}

.ant-btn-primary {
  background-color: #1677ff;
}