.layoutFooter {
    margin: 20px 20px 0 35px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    border-top: 1px solid #ccc;
    color: #455560;
}